<div class="text-layout">
    <h1>DecimalPipe y Porcetaje</h1>
    <p>Pipes incluidos en Angulos - En el modulo Common Module <a target="_blank" [href]="urlDecimal">referencia</a></p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="number">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number }}
            
            <br><i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.6-6' }}
            <br><i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.1-2' }}
            <ng-template pTemplate="footer">
                <a target="_blank" [href]="urlDecimalPipe">referencia</a>
            </ng-template>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="currency">
            {{ ventasNetas * 12 | currency }}<br>
            {{ ventasNetas * 200 | currency:'EUR' }}<br>
            {{ ventasNetas * 200 | currency:'EUR':'symbol-narrow' }}<br>
            {{ ventasNetas * 200 | currency:'EUR':'symbol-narrow':'1.5-5' }}<br>
            <ng-template pTemplate="footer">
                <a target="_blank" [href]="urlCurrency">referencia</a>
            </ng-template>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="porcentaje">
            {{ porcentaje | percent }}<br>
            {{ porcentaje | percent:'1.2-2' }}<br>
           
            <ng-template pTemplate="footer">
                <a target="_blank" [href]="urlPercent">referencia</a>
            </ng-template>
        </p-card>
    </div>
</div>